.ubication {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  .ubication-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 4em;
    font-weight: 700;
  }

  .adress {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid var(--azuloscuro);
    padding-top: 3%;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1%;
  }

  
  .number{
    padding-top: 1%;
    padding-bottom: 4%;
    font-size: 2rem;
    font-weight: 500;
  }

.ubication iframe{
      width: 98%;
      height: 30rem;
  }